package {{testClass.getPackageDeclaration}};

import org.junit.jupiter.api.*;
import static org.junit.jupiter.api.Assertions.*;
import java.lang.reflect.*;

class {{testClass.getName}} {
	
	private static Class<?> classUnderTest;
	
	@BeforeAll
	static void loadClass() {
		try {
			classUnderTest = Class.forName("{{testClass.getClassName}}");
		} catch (ClassNotFoundException e) {
			fail("The class {{testClass.getClassName}} was not found!");
		}
	}
	
	@Test
	void testClassProperties() {
		{{#testClass.getPropertyAssertions}}
		assertEquals({{{getExpectedValue}}}, {{{getActualValue}}}, "{{getMessage}}");
		{{/testClass.getPropertyAssertions}}
	}
	
	@Test
	void testClassRelationships() {
		{{#testClass.getRelationshipAssertions}}
		assertEquals({{{getExpectedValue}}}, {{{getActualValue}}}, "{{getMessage}}");
		{{/testClass.getRelationshipAssertions}}
	}
	
	@Test
	void testClassTemplateParameters() {
		assertEquals({{testClass.getTemplateParameters.size}}, classUnderTest.getTypeParameters().length, "{{testClass.getClassName}} must have exactly {{testClass.getTemplateParameters.size}} template parameters!");
		{{^testClass.getTemplateParameters.isEmpty}}
		
		Optional<?> typeParameterUnderTest;
		{{#testClass.getTemplateParameters}}
		typeParameterUnderTest = java.util.Arrays.asList(classUnderTest.getTypeParameters()).stream().filter(type -> type.getTypeName().equals("{{getName}}")).findFirst();
		{{#getAssertions}}
		assertEquals({{{getExpectedValue}}}, {{{getActualValue}}}, "{{getMessage}}");
		{{/getAssertions}}
		{{/testClass.getTemplateParameters}}
		{{/testClass.getTemplateParameters.isEmpty}}
	}
	
	{{^testClass.getEnumConstantAssertions.isEmpty}}
	@Test
	void testEnumConstants() {
		{{#testClass.getEnumConstantAssertions}}
		assertEquals({{{getExpectedValue}}}, {{{getActualValue}}}, "{{getMessage}}");
		{{/testClass.getEnumConstantAssertions}}
	}
	{{/testClass.getEnumConstantAssertions.isEmpty}}
	
	@Test
	void testClassFields() {
		assertEquals({{testClass.getFields.size}}, classUnderTest.getDeclaredFields().length, "{{testClass.getClassName}} must have exactly {{testClass.getFields.size}} fields!");
		{{#testClass.getFields}}
		
		try {
			Field fieldUnderTest = classUnderTest.getDeclaredField("{{getName}}");
			{{#getAssertions}}
			assertEquals({{{getExpectedValue}}}, {{{getActualValue}}}, "{{getMessage}}");
			{{/getAssertions}}
			{{#isHasMultiplicity}}
			
			if (fieldUnderTest.getClass().isArray()) {
				assertEquals("{{{getType}}}[]", fieldUnderTest.getType().getSimpleName(), "{{testClass.getClassName}}#{{getName}} must be of type {{{getType}}}!");
			}
			else {
				String genericType = "";
			
				try {
					genericType = ((ParameterizedType) fieldUnderTest.getGenericType()).getActualTypeArguments()[0].getTypeName();
					genericType = genericType.substring(genericType.lastIndexOf(".") + 1);
				} catch (ClassCastException e) {
					fail("{{testClass.getClassName}}#{{getName}} must be of type {{{getType}}}!");
				}
				
				assertEquals("{{{getType}}}", fieldUnderTest.getType().getSimpleName() + "<" + genericType + ">", "{{testClass.getClassName}}#{{getName}} must be of type {{{getType}}}!");
			}
			{{/isHasMultiplicity}}
			{{^isHasMultiplicity}}
			{{#canBeNull}}
			
			String genericType = "";
			
			try {
				genericType = ((ParameterizedType) fieldUnderTest.getGenericType()).getActualTypeArguments()[0].getTypeName();
				genericType = genericType.substring(genericType.lastIndexOf(".") + 1);
			} catch (ClassCastException e) {
				fail("{{testClass.getClassName}}#{{getName}} must be of type Optional<{{{getType}}}>!");
			}
				
			assertEquals("Optional<{{{getType}}}>", fieldUnderTest.getType().getSimpleName() + "<" + genericType + ">", "{{testClass.getClassName}}#{{getName}} must be of type Optional<{{{getType}}}>!");
			{{/canBeNull}}
			{{^canBeNull}}
			assertEquals("{{{getType}}}", fieldUnderTest.getType().getSimpleName(), "{{testClass.getClassName}}#{{getName}} must be of type {{{getType}}}!");
			{{/canBeNull}}
			{{/isHasMultiplicity}}
		} catch (NoSuchFieldException | SecurityException e) {
			fail("{{testClass.getClassName}} is expected to have a field with name {{getName}}!");
		}
		{{/testClass.getFields}}
	}
	
	@Test
	void testClassConstructors() {
		assertEquals({{testClass.getConstructors.size}}, classUnderTest.getDeclaredConstructors().length, "{{testClass.getClassName}} must have exactly {{testClass.getConstructors.size}} constructors!");
		{{#testClass.getConstructors}}
		
		try {
			Constructor<?> constructorUnderTest = classUnderTest.getDeclaredConstructor({{getParameterTypeClasses}});
			{{#getAssertions}}
			assertEquals({{{getExpectedValue}}}, {{getActualValue}}, "{{{getMessage}}}");
			{{/getAssertions}}
			{{^getParameters.isEmpty}}
			
			Parameter parameterUnderTest;
			{{#getParameters}}
			
			parameterUnderTest = java.util.Arrays.asList(constructorUnderTest.getParameters()).stream().filter(param -> param.getName().equals("{{getName}}")).findFirst().get();
			assertEquals({{{getAssertion.getExpectedValue}}}, {{{getAssertion.getActualValue}}}, "{{{getAssertion.getMessage}}}");
			{{/getParameters}}
			{{/getParameters.isEmpty}}
		} catch (NoSuchMethodException | SecurityException e) {
			fail("{{testClass.getClassName}} must have a constructor with parameters ({{getParameterTypes}})");
		}
		{{/testClass.getConstructors}}
	}
	
	@Test
	void testClassMethods() {
		assertEquals({{testClass.getMethods.size}}, classUnderTest.getDeclaredMethods().length, "{{testClass.getClassName}} must have exactly {{testClass.getMethods.size}} methods!");
		{{#testClass.getMethods}}
		
		try {
			Method methodUnderTest = classUnderTest.getDeclaredMethod("{{getMethodName}}"{{^getParameters.isEmpty}}, {{/getParameters.isEmpty}}{{getParameterTypeClasses}});
			{{#getAssertions}}
			assertEquals({{{getExpectedValue}}}, {{getActualValue}}, "{{{getMessage}}}");
			{{/getAssertions}}
			{{^getParameters.isEmpty}}
			
			Parameter parameterUnderTest;
			{{#getParameters}}
			
			parameterUnderTest = java.util.Arrays.asList(methodUnderTest.getParameters()).stream().filter(param -> param.getName().equals("{{getName}}")).findFirst().get();
			assertEquals({{{getAssertion.getExpectedValue}}}, {{{getAssertion.getActualValue}}}, "{{{getAssertion.getMessage}}}");
			{{/getParameters}}
			{{/getParameters.isEmpty}}
		} catch (NoSuchMethodException | SecurityException e) {
			fail("{{testClass.getClassName}} must have a method named {{getMethodName}} with parameters ({{getParameterTypes}})");
		}
		{{/testClass.getMethods}}
	}
}
	